#root {
  width: 350px;
  max-width: 800px;
  height: 500px;
  max-height: 600px;
  margin: 0;
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  line-height: 1;
  color: var(--color-text-primary);
  color-scheme: light dark;
  background-color: var(--color-surface-primary-100);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-size: 100%;
}
