.segmented-control {
  --bg: var(--color-surface-primary-200);
  --color-border: var(--color-surface-primary-400);
  --selected-bg: var(--color-brand-primary-active);
  --selected-text: var(--color-brand-primary-text);
  --radius: 0.375em;

  display: flex;
  flex-wrap: wrap;
  gap: 0.125em;
  width: fit-content;
  padding: 0.125em;
  user-select: none;
  outline: 0.0625em solid var(--color-border);
  outline-offset: -0.0625em;
  background-color: var(--bg);
  border-radius: var(--radius);

  .segment {
    display: flex;
    align-items: center;
    padding: 0.25em 0.625em;
    line-height: 1;
    cursor: pointer;
    border-radius: calc(var(--radius) - 0.125em);

    &:hover {
      background-image: linear-gradient(
        rgb(from var(--color-surface-primary-500) r g b / 10%),
        rgb(from var(--color-surface-primary-500) r g b / 10%)
      );
    }

    &.selected {
      color: var(--selected-text);
      background-color: var(--selected-bg);

      &:hover {
        background-image: linear-gradient(rgb(from white r g b / 15%), rgb(from white r g b / 15%));
      }
    }
  }
}
