.brand {
  display: flex;
  flex-direction: row;
  gap: var(--gap-brand);
  align-items: center;
}

.logo {
  width: 2.5em;
  height: 2.5em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--color-brand-primary-hover));
}

.title {
  line-height: 1;
}
