.brand {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.logo {
  width: 2.5em;
  height: 2.5em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--color-brand-primary-hover));
}

.title {
  font-size: var(--text-header);
  line-height: 1;
}

.subscript {
  font-size: var(--text-header-sub);
  line-height: 1;
}

.descriptive {
  display: flex;
  flex-direction: column;
}
