.brand {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.logo {
  width: 2em;
  height: 2em;
  aspect-ratio: 1 / 1;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--color-brand-hover));
}

.title {
  line-height: 1;
}
